/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    text-align: center;
}

h1, h2, h3 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

main {
    padding: 20px;
}

/* Menú de navegación */
header nav ul {
    display: flex;
    list-style-type: none;
    background-color: #333;
    padding: 10px;
    justify-content: center;
}

header nav ul li {
    margin-right: 10px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

header nav ul li a:hover {
    background-color: #555;
}

/* Clase general para imágenes */
.foto-ajustable {
    width: 20%; /* Ajusta este valor según el tamaño deseado */
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* Imagen de portada */
.foto.portada {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.foto.portada img {
    width: 30%;
    height: auto;
}

/* Estilos de eventos */
.eventos {
    text-align: center;
    margin-top: 20px;
}

.eventos ul {
    list-style-type: none;
    padding: 0;
}

.evento-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.evento-item p {
    margin-top: 5px;
    font-style: italic;
    color: #555;
}

/* Formulario de contacto */
form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
}

form input, form textarea {
    padding: 5px;
    margin-bottom: 10px;
}

form button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

/* Pie de página */
footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #fff;
}

.volver-inicio {
    display: inline-block;
    margin-top: 10px;
    font-size: 0.9em;
    color: #007bff;
    text-decoration: none;
}

.volver-inicio:hover {
    text-decoration: underline;
}

/* Ajustes para listas numeradas alineadas */
ul, ol {
    padding-left: 20px; /* Ajusta este valor según el alineado que prefieras */
    list-style-position: inside; /* Esto coloca los números dentro del contenedor */
}
